body {
    padding-top: 56px;
  }

  @media (min-width: 768px) {
    body {
      padding-top: 50px;
    }
  }

  .navbar {
    background-color: #343a40; 
  }

  .navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
  }

  .navbar-dark .navbar-toggler-icon {
    border: 2px solid rgb(255, 255, 255); 
  }

  .navbar-toggler {
    border: 2px solid white; 
  }

  .navbar-nav .nav-link {
    color: white;
    font-weight: bold;
  }

  .image-section {
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 0;
  }

  .produtos_em_destaque {
    background-color: rgb(255, 242, 242) ; 
    padding: 60px 0;
  }

  .product-card {
    border: 1px solid #dee2e6; 
    border-radius: 10px;
    transition: transform 0.3s;
  }

  .product-card:hover {
    transform: scale(1.05); 
  }

  .footer {
    background-color: #343a40; 
    color: white;
  }
  .carousel-item {
    height: 300px; 
  }

  .carousel-caption {
    text-align: center;
  }

  .image-section {
    text-align: center;
  }

  .navbar-brand {
    font-size: 1.25em;
    font-weight: bold;
  }

  body {
    background-color: rgb(255, 248, 248);
  }

